@page "/appinfo"

<h1 style="text-align: center; font-size: 2em; color: #333;">ONYX</h1>

<h3 style="text-align: center;">Willkommen bei Onyx</h3>
<p>Entdecke deinen Style, deine Musik und deinen urbanen Lifestyle mit unserer brandneuen App "Onyx"! Hier findest du alles, was cool ist: Klamotten, Vinyl, Skateboards und Accessoires – alles an einem Ort!</p>

<p>Erlebe einzigartige Klamotten, den perfekten Soundtrack auf Vinyl, Spaß mit Skateboards und Accessoires, die dein Outfit komplett machen. Bei Onyx geht es um mehr als nur Einkaufen – es geht um deinen individuellen Style.</p>

<p>Unsere App ist für maximale Reichweite und Nutzerfreundlichkeit auf Android ausgerichtet, aufgrund seiner globalen Verbreitung. Sie integriert sich nahtlos ins Android-Ökosystem, ist einfach zu bedienen und intuitiv.</p>

<p>Wir überwachen kontinuierlich Nutzerstatistiken, um zukünftige Entscheidungen zur Erweiterung auf andere Plattformen basierend auf dem Nutzerverhalten zu treffen.</p>

<p>Check die App aus, lass dich inspirieren und werde Teil von Onyx – wo Shoppen mehr als nur Einkaufen ist! Viel Spaß!</p>

<p>Samuel Schibig, Onyx-Gründer</p>

<h2>Häufig gestellte Fragen (FAQ)</h2>

<p><strong>Frage 1:</strong> Wie kann ich Produkte in der Onyx-App kaufen?</p>
<p><strong>Antwort:</strong> Um Produkte zu kaufen, klicke einfach auf das gewünschte Element, wähle deine Größe und füge es zum Warenkorb hinzu. Folge dann den Anweisungen zur Zahlung.</p>

<div id="faq-part" style="max-height: 150px; overflow: hidden;">
    <p><strong>Frage 2:</strong> Gibt es internationale Lieferungen?</p>
    <p><strong>Antwort:</strong> Ja, wir bieten internationale Lieferungen an. Die Versandkosten variieren je nach Zielort. Details findest du im Checkout.</p>

    <p><strong>Frage 3:</strong> Wie kann ich den Kundenservice kontaktieren?</p>
    <p><strong>Antwort:</strong> Du kannst uns über das Kontaktformular in der App erreichen oder eine E-Mail an support@onyx.com senden. Unser Team steht dir gerne zur Verfügung!</p>
</div>

<button onclick="showMore()"></button>
<a href="/fag" class="showMore">Mehr anzeigen</a>

@code {

/*    function showMore()
            {
            var faqPart = document.getElementById("faq-part");
            faqPart.style.maxHeight = "none";
    }*/
}
