@page "/fag"
<h3>FAQ</h3>

<h1>Häufig gestellte Fragen</h1>
<div
<p><strong>Frage 1:</strong> Wie kann ich Produkte in der Onyx-App kaufen?</p>
<p><strong>Antwort:</strong> Um Produkte zu kaufen, klicke einfach auf das gewünschte Element, wähle deine Größe und füge es zum Warenkorb hinzu. Folge dann den Anweisungen zur Zahlung.</p>


    <p><strong>Frage 2:</strong> Gibt es internationale Lieferungen?</p>
    <p><strong>Antwort:</strong> Ja, wir bieten internationale Lieferungen an. Die Versandkosten variieren je nach Zielort. Details findest du im Checkout.</p>

    <p><strong>Frage 3:</strong> Wie kann ich den Kundenservice kontaktieren?</p>
    <p><strong>Antwort:</strong> Du kannst uns über das Kontaktformular in der App erreichen oder eine E-Mail an support@onyx.com senden. Unser Team steht dir gerne zur Verfügung!</p>

    <p><strong>Frage 4:</strong> Gibt es eine Rückgaberegelung?</p>
    <p><strong>Antwort:</strong> Ja, wir akzeptieren Rückgaben innerhalb von 30 Tagen nach Erhalt der Ware. Weitere Informationen findest du in unserer Rückgaberichtlinie in der App.</p>

    <p><strong>Frage 5:</strong> Wie kann ich meinen Account löschen?</p>
    <p><strong>Antwort:</strong> Um deinen Account zu löschen, gehe zu den Einstellungen in der App und wähle die Option "Account löschen". Beachte bitte, dass diese Aktion unwiderruflich ist.</p>

</div>
@code {

}
